$primary_black: #323232;
$primary_silver: #AFAFAF;
$primary_white: #fff;
$secondary_black: #000;
$secondary_mercury: #E1E1E1;
$secondary_alabaster: #FAFAFA;

$opacity_by: rgba(50, 50, 50, 0.5);

$tablet-width: 768px;
$desktop-width: 1280px;



