@use './partials/variables' as *;
@use './partials/font' as *;
@use './partials/mixin' as *;

*{
  font-family: 'Avenir', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.site-header {
  background-color: $primary-black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  width: 100%; 
 
  @include tablet {
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    padding-left: 2rem;
  }

  @include desktop {
    padding:0 5rem;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__lists{
    list-style-type: none;
    padding: 1.5rem 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 50%;

    @include tablet {
      width: 2%;
    }
  }

  &__link {
    color: $primary-white;
    text-decoration: none;
  }

  &__logo  {
    width: 120px;
    height: 20px;
  }

}

.active {
  border-bottom: 4px solid $primary-white;
}

.hero-image {
  width: 100%;
  background: linear-gradient($opacity_by, $opacity_by) , url(../assets/images/Photo-gallery-3.jpg);
  background-size: cover;
  background-position: center;
  color: $primary-white;
  
  &__iframe {
    margin: 1.5rem;
    width: 90%;
  }
  &__titles {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 60%;
  }

  &__title {
    width: 80%;
    padding: auto  auto 5rem 5rem;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    &__titles {
      margin:  auto 3.5rem;
      width: 35%;
    }

    &__iframe {
      padding-left: 3rem;
      margin-bottom: 3rem;
      width: 50%;
    }
  }

  @include desktop {
    display: flex;
    flex-direction: row;

    &__iframe {
      width: 45%;
      margin: auto;
    }
  }
}

.shows {
  background-color: $primary-white;
  @include tablet {
    margin: 0 3rem;
  }

  &__container {
    padding:0 2rem;
  }

  &__date {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__venue {
    margin-bottom: 1rem;
  }

  &__location {
    margin-bottom: 1rem;
  }

  @include desktop {
    &__container {
      background-color: $primary-white;
      padding: 0 3rem 0 15rem;
    }
  }
}

.show-title {
  background-color: $primary-white;
  padding: 3rem 0 0 3.5rem;

  @include desktop {
    padding: 3rem 0 0 6rem;
  }
}

.shows-list__item {
  background-color: $primary-white;
  padding: 2rem;
  border-bottom: 1px solid $secondary-mercury;
  
  @include tablet {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    border-bottom: 1px solid $secondary-mercury;
  }
}

.shows-list__item:hover {
  background-color: $secondary-mercury;
}

.shows__label {
  color: #AFAFAF;
  font-weight: bold;
  padding: .5rem 0;
  
  @include tablet {
    display: none;
  }
}

.shows-fake__labels {
  display: none;
  padding: 2rem;
  @include tablet {
    display: flex;
    background-color: $primary-white;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    color: #AFAFAF;
    padding: 2rem;

    @include desktop {
      padding: 0 0 1rem 2.5rem;
    }
  }

  p {
    width: 18%;
  }
}

.shows__btn {
  width: 100%;
  background-color: $primary-black;
  color: $primary-white;
  border-radius: 4px;
  margin-top: 1rem;
  padding: .5rem;
  border: none;
  
  @include tablet {
    padding: .5rem;
    width: 150px;
    border: none;
  }
}

.site-footer {
  background-color: $primary-black;
  color: $primary-white;
  padding: 2rem;
  margin: 20px 0 0 0;

  &__icons {
    display: flex;
    width: 40%;
    margin: 10px 0;

    @include desktop {
      width: 50%;
    }
  }

  &__icon {
    margin-right: 25px;
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
  }
}

.footer-box {
  @include tablet {
    display: flex;
    justify-content: space-between;
    width: 60%;
    order: 1;
  }
}

.footer-logo{
  @include tablet{
    order: 1;
    margin-left: auto;
  }
}

.container {
  padding-bottom: 2rem;
  
  &-cards {
    margin: 20px 0;
  }
  &-card__name {
    @include subheader;
  }

  &-card__detail {
    @include subheader;
  }

  &-card__address {
    @include copy;
    margin: 10px 0;
  }

  &-card__link {
    text-decoration: none;
    color: $primary-white;
  }

  @include tablet {
    display: flex;
    order: 2;
    justify-content: space-between;
    width: 100%;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 80%;
  }
}

.footer-text {
  @include tablet {
    order: 2;
    width: 100%;
  }
}
